* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;

}

header div {
    padding: 1%;
    width: 50%;
    justify-content: space-between;
}

main {
    width: d 50%;
    border: 1px solid black;
    margin: 10%;
}

question {
    border: 1px solid red;

}

question {
    margin: 1%;
    font-size: 4em;
}

#answers {
    margin: 1%;
    border: 1px solid green;
}