* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;

}

header div {
    padding: 1%;
    width: 50%;
    justify-content: space-between;
}

main {
    text-align: center;
    width: d 50%;
    margin: 10%;
}

question {
    width: 100%;
    text-align: center;
    margin: 1%;
    font-size: 3em;
}

#answers {
    margin: 1%;
}

li {
    padding: 1%;
}

li button:hover {

    transition: all .25s;
    background-color: green;
    color: white;
}

li button:hover::before {
    content: ' - ';
}

li button:hover::after {
    content: ' - ';
}

gameover {
    font-size: 4em;
    font-weight: bolder;
}

.gameover {
    transition: all 3s;
    font-size: 5em;
    text-shadow: #FC0 1px 0 10px, rgb(255, 0, 0) 1px 0 10px;
    ;
}